//
.logo{
  text-align: center;

  li{
    display: inline-block;
    margin-right: 10px;
  }
}
.container{
  width: 1200px;
  margin: 0 auto;
}
.poster{
  width: 350px;
}

.type-pasta{
  background: url('/images/fondo-pag-speciali.jpg');
}

h2{
  text-transform: uppercase;
  color: blue;
}

h2:first-child{
  padding-top: 60px;
}

.product-details{
  text-align: center;
}
